<div class="blazze-container">
     <h1>Blazze Tasks</h1>
     <mat-card>
          <mat-card-content>
               <mat-card-title> To Do </mat-card-title>
               <mat-card-subtitle>
                    <span>{{ tasks.length }}</span>
                    <span>{{
                         tasks.length > 1 ? ' Tasks' : ' Task'
                    }}</span>
                    <button
                         mat-flat-button
                         (click)="deleteAllTasks()"
                    >
                         Delete All
                    </button>
               </mat-card-subtitle>
               <mat-card-header>
                    <form
                         [formGroup]="taskForm"
                         (ngSubmit)="addTask()"
                    >
                         <mat-form-field appearance="fill">
                              <mat-label>Title</mat-label>
                              <input
                                   matInput
                                   required
                                   formControlName="title"
                              />
                         </mat-form-field>
                         <mat-form-field appearance="fill">
                              <mat-label>Description</mat-label>
                              <input
                                   matInput
                                   required
                                   formControlName="description"
                              />
                         </mat-form-field>
                         <!-- submit button -->
                         <button
                              mat-raised-button
                              color="primary"
                              type="submit"
                         >
                              Add
                         </button>
                    </form>
               </mat-card-header>
               <mat-selection-list>
                    <!-- show the list of pending tasks only -->
                    <mat-list-option
                         *ngFor="let task of getToDoTasks()"
                         (selectedChange)="markTaskAsCompleted(task)"
                    >
                         <mat-icon matListAvatar>list</mat-icon>
                         <h4 matLine>{{ task.title }}</h4>
                         <p matLine>{{ task.description }}</p>
                    </mat-list-option>
               </mat-selection-list>
          </mat-card-content>
     </mat-card>

     <br />
     <!-- Completed Tasks -->
     <mat-card>
          <mat-card-content>
               <mat-card-title> Completed </mat-card-title>
               <mat-selection-list>
                    <!-- show the list of completed tasks only -->
                    <mat-list-option
                         *ngFor="let task of getCompletedTasks()"
                         (selectedChange)="markTaskAsToDo(task)"
                         selected="true"
                    >
                         <!-- (selectedChange)="onCompletedChange(task)" -->
                         <mat-icon matListAvatar>list</mat-icon>
                         <h4 matLine class="completed">
                              {{ task.title }}
                         </h4>
                         <p matLine class="completed">
                              {{ task.description }}
                         </p>
                    </mat-list-option>
               </mat-selection-list>
          </mat-card-content>
     </mat-card>
</div>
